%h2 Create New League
- form_for @league do |form|  
  = form.error_messages 
  %p
    = form.label "League Name"
    = form.text_field :name
  %p
    = form.label "League Length in weeks"
    = form.text_field :length    
  %p
    = form.label "Start date"
    = form.text_field :start_date
  %p
    = form.label "Users Email *Max of 10 users per league*"
    #teams
      = render 'teams', :f => form
  %p
    = form.submit 'Create'
