!!! Strict
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title Tennis City
    =stylesheet_link_tag "application"
    = javascript_include_tag :all
    
  %body
    #wrapper
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      #header
        %h1 Tennis City
        -if user_signed_in?
          %p.user_login_box
            = "#{current_user.email}"
            |
            = link_to 'My Account', edit_user_registration_path
            |
            = link_to 'Sign out', destroy_user_session_path
      %ul#navigation
        %li
          %a{ :href => "/", :class => "#{active_class('^\/$')}"} Dashboard
        %li
          %a{ :href => "/leagues", :class => "#{active_class('/leagues')}" } Leagues
        %li
          %a{ :href => "/matchups", :class => "#{active_class('/matchups')}" } Matchup
        %li
          %a{ :href => "/teams", :class => "#{active_class('/teams')}" } Teams
        %li
          %a{ :href => "/players", :class => "#{active_class('/players')}" } Players
      #content
        = yield
      #footer
        %p Copyright 47Ten Studios &copy; 2010  All rights reserved.