!!! Strict
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title Chris Hallendy
    =stylesheet_link_tag :all
    = javascript_include_tag :all
    
  %body#dashboard
    #container
      #header-wrapper
        #header
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

          -if user_signed_in?
            .user_login_box
              = "#{current_user.email} |"
              = link_to 'My Account', edit_user_registration_path |
              = link_to 'Sign out', destroy_user_session_path

          #nav
            %ul
              %li
                %a#home{:href => "/leagues"} Leagues
              %li
                %a#about{:href => "/teams"} Teams
              %li
                %a#contact{:href => "/players"} Players

        #content-wrapper
          = yield

